In [548]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#to visualize all the column in the df
pd.pandas.set_option('display.max_column', None)

In [550]:
dataset=pd.read_excel('Data_Train.xlsx')
dataset.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897

In [551]:
dataset['Date']=dataset['Date_of_Journey'].str.split('/').str[0]
dataset['Month']=dataset['Date_of_Journey'].str.split('/').str[1]
dataset['Year']=dataset['Date_of_Journey'].str.split('/').str[2]

In [552]:
#dataset['Date_of_Journey'].apply(lambda x:x.split("/")[0])

In [553]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  object
 12  Month            10683 non-null  object
 13  Year             10683 non-null  object
dtypes: int64(1), object(13)
memory usage: 1.1+ MB

In [554]:
#change the object dtype into int

dataset['Date']= dataset['Date'].astype(int)
dataset['Month']= dataset['Month'].astype(int)
dataset['Year']= dataset['Year'].astype(int)

In [555]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int32
 12  Month            10683 non-null  int32
 13  Year             10683 non-null  int32
dtypes: int32(3), int64(1), object(10)
memory usage: 1.0+ MB

In [556]:
dataset.head(1)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019

In [557]:
dataset

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4,2019
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4,2019
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27,4,2019
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1,3,2019
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5,2019

In [558]:
#now remove Date_of_Journey column , inplace=True: permanently deleted from dataset

dataset.drop('Date_of_Journey',axis=1,inplace=True)

In [559]:
dataset.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019

In [560]:
dataset['Arrival_Time']=dataset['Arrival_Time'].str.split(' ').str[0]
dataset['Arrival_Hour']=dataset['Arrival_Time'].str.split(':').str[0]
dataset['Arrival_Min']=dataset['Arrival_Time'].str.split(':').str[1]

In [572]:
dataset.head(1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897,24,3,2019,01,10

In [574]:

dataset['Arrival_Hour']=dataset['Arrival_Hour'].astype(int)
dataset['Arrival_Min']=dataset['Arrival_Min'].astype(int)

In [576]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10683 non-null  object
 5   Arrival_Time     10683 non-null  object
 6   Duration         10683 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10683 non-null  object
 9   Price            10683 non-null  int64
 10  Date             10683 non-null  int32
 11  Month            10683 non-null  int32
 12  Year             10683 non-null  int32
 13  Arrival_Hour     10683 non-null  int32
 14  Arrival_Min      10683 non-null  int32
dtypes: int32(5), int64(1), object(9)
memory usage: 1.0+ MB

In [578]:
dataset.drop('Arrival_Time',axis=1,inplace=True)

In [580]:
dataset.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897,24,3,2019,1,10

In [582]:
dataset['Dep_Hour']=dataset['Dep_Time'].str.split(':').str[0]
dataset['Dep_Min']=dataset['Dep_Time'].str.split(':').str[1]

In [584]:
dataset['Dep_Hour']=dataset['Dep_Hour'].astype(int)
dataset['Dep_Min']=dataset['Dep_Min'].astype(int)
dataset.drop('Dep_Time', axis=1, inplace=True)

In [586]:
dataset.head(1)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,2019,1,10,22,20

In [588]:
dataset['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [590]:
dataset['Total_Stops'].mode()

0    1 stop
Name: Total_Stops, dtype: object

In [592]:
dataset['Total_Stops']=dataset['Total_Stops'].map({'non-stop': 0,  '1 stop':1, '2 stops': 2, '3 stops':3,
                          '4 stops':4, 'nan': 1 })
#nan=1, because mode=1 map funct return float value only

In [594]:
dataset.drop('Route',axis=1,inplace=True)

In [596]:
dataset.head(1)

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897,24,3,2019,1,10,22,20

In [598]:
dataset['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [600]:
dataset['Source'].unique()

array(['Banglore', 'Kolkata', 'Delhi', 'Chennai', 'Mumbai'], dtype=object)

In [602]:
dataset['Destination'].unique()

array(['New Delhi', 'Banglore', 'Cochin', 'Kolkata', 'Delhi', 'Hyderabad'],
      dtype=object)

In [604]:
dataset['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [606]:
#encode every value to assign to 0, 1(one hot encoding,ohe)
dataset=pd.get_dummies(dataset,columns=["Airline", "Source", "Destination","Additional_Info"],drop_first=True)

In [608]:
#convert onjrct into bool
for col in dataset.select_dtypes(include='object').columns:
    if set(dataset[col].unique()) == {True, False}:
        dataset[col] = dataset[col].astype(int)

In [616]:
#convert bool into int
dataset = dataset.apply(lambda x: x.astype(int) if x.dtype == 'bool' else x)

In [618]:
dataset.head(1)

,Duration,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,2h 50m,0.0,3897,24,3,2019,1,10,22,20,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0

In [621]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 39 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Duration                                      10683 non-null  object
 1   Total_Stops                                   10682 non-null  float64
 2   Price                                         10683 non-null  int64
 3   Date                                          10683 non-null  int32
 4   Month                                         10683 non-null  int32
 5   Year                                          10683 non-null  int32
 6   Arrival_Hour                                  10683 non-null  int32
 7   Arrival_Min                                   10683 non-null  int32
 8   Dep_Hour                                      10683 non-null  int32
 9   Dep_Min                                       10683 non-null  int32
 10  Airline_Air India                             10683 non-null  int32
 11  Airline_GoAir                                 10683 non-null  int32
 12  Airline_IndiGo                                10683 non-null  int32
 13  Airline_Jet Airways                           10683 non-null  int32
 14  Airline_Jet Airways Business                  10683 non-null  int32
 15  Airline_Multiple carriers                     10683 non-null  int32
 16  Airline_Multiple carriers Premium economy     10683 non-null  int32
 17  Airline_SpiceJet                              10683 non-null  int32
 18  Airline_Trujet                                10683 non-null  int32
 19  Airline_Vistara                               10683 non-null  int32
 20  Airline_Vistara Premium economy               10683 non-null  int32
 21  Source_Chennai                                10683 non-null  int32
 22  Source_Delhi                                  10683 non-null  int32
 23  Source_Kolkata                                10683 non-null  int32
 24  Source_Mumbai                                 10683 non-null  int32
 25  Destination_Cochin                            10683 non-null  int32
 26  Destination_Delhi                             10683 non-null  int32
 27  Destination_Hyderabad                         10683 non-null  int32
 28  Destination_Kolkata                           10683 non-null  int32
 29  Destination_New Delhi                         10683 non-null  int32
 30  Additional_Info_1 Short layover               10683 non-null  int32
 31  Additional_Info_2 Long layover                10683 non-null  int32
 32  Additional_Info_Business class                10683 non-null  int32
 33  Additional_Info_Change airports               10683 non-null  int32
 34  Additional_Info_In-flight meal not included   10683 non-null  int32
 35  Additional_Info_No Info                       10683 non-null  int32
 36  Additional_Info_No check-in baggage included  10683 non-null  int32
 37  Additional_Info_No info                       10683 non-null  int32
 38  Additional_Info_Red-eye flight                10683 non-null  int32
dtypes: float64(1), int32(36), int64(1), object(1)
memory usage: 1.7+ MB

In [418]:
#lable encoding :education ranking
#one hot encoding: week days

In [623]:
dataset['Duration_Hour']=dataset['Duration'].str.split(' ').str[0]
dataset['Duration_Min']=dataset['Duration'].str.split(' ').str[1]

In [625]:
dataset.head(1)

,Duration,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight,Duration_Hour,Duration_Min
0,2h 50m,0.0,3897,24,3,2019,1,10,22,20,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,2h,50m

In [627]:
dataset['Duration_Hour']=dataset['Duration_Hour'].str.split('h').str[0]

In [631]:
dataset.head(1)

,Duration,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight,Duration_Hour,Duration_Min
0,2h 50m,0.0,3897,24,3,2019,1,10,22,20,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,2,50

In [639]:
dataset['Duration_Min'].mode()

0    30
Name: Duration_Min, dtype: object

In [641]:
dataset['Duration_Hour'].mode()

0    2
Name: Duration_Hour, dtype: object

In [644]:
dataset['Duration_Min']= dataset['Duration_Min'].fillna(30)

In [646]:
dataset['Duration_Min']= dataset['Duration_Min'].astype(int)

In [662]:
dataset['Duration_Hour']=dataset['Duration_Hour'].fillna(2)

In [680]:
dataset['Duration_Hour']==dataset['Duration_Hour'].str.split('m').str[0]

0        True
1        True
2        True
3        True
4        True
         ...
10678    True
10679    True
10680    True
10681    True
10682    True
Name: Duration_Hour, Length: 10683, dtype: bool

In [684]:
int(dataset['Duration_Hour'])

TypeError: cannot convert the series to <class 'int'>

In [682]:
dataset['Duration_Hour']=dataset['Duration_Hour'].astype(int)

ValueError: invalid literal for int() with base 10: '5m'